/* Fichier CSS général de l'application Quizéo fait avec JavaFX */

/*                               */
/* Gestion des onglets (tabview) */
/*                               */

/* Réglage de la taille des onglets */
.tab-pane {
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 66px;
    -fx-tab-max-height: 66px;
}

/* Réglage de la zone derriere les boutons */
.tab-header-area .tab-header-background {
    -fx-background-color: #282C34; /* Couleur barre onglet (meme couleur que l'application) */
}

/* les onglets */
.tab {
    -fx-background-color:  #5c6169; /* Couleur onglet par défault */
    -fx-font-size: 30px; /* Taille texte onglet */
    -fx-background-radius: 15px; /* Arrondi onglet */
    -fx-padding: 0 10 0 10;
    
}
/* Onglet selectionné */
.tab:selected {
    -fx-background-color: #343738;
}

/* Texte des onglets */
.tab-label { 
   -fx-alignment: CENTER;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-padding: 0 10 0 10;
}

/* Enleve l'outline dégeulasse quand séléctionné */
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
   -fx-border-insets: 0 0 0 0;
   -fx-border-radius: 0;
}

/*                         */
/* Fin gestion des onglets */
/*                         */


/*                         */
/* Gestion des scrollpane  */
/*                         */

/* Gestion de la couleur de fond des scrollpane et de leur taille*/
.scroll-pane {
    -fx-background-color: #282C34; /* Couleur barre onglet (meme couleur que l'application) */
    -fx-border-color: #282C34; /* Couleur barre onglet (meme couleur que l'application) */
}

.scroll-pane .scroll-bar:vertical {
    -fx-border-color: #282C34; /* Couleur barre onglet (meme couleur que l'application) */
    -fx-background-color: #282C34; /* meme couleur que l'application) */
    /* Augmente la taille de la barre de scroll */
    -fx-pref-width: 30px;
} 

/* Gestion de la barre de scroll */
.thumb {
    /* Couleur de la barre de scroll */
    -fx-background-color: #5c6169;
    /* Arrondi de la barre de scroll */
    -fx-background-radius: 15px;
}

/* Gestion des fleches de scroll oblgié de faire en deux fois sinon ca marche po */
.increment-arrow {
    /* Enleve les fleches de scroll */
    -fx-background-color: transparent;
}

.decrement-arrow {
    /* Enleve les fleches de scroll */
    -fx-background-color: transparent;
}

/*                            */
/* Fin gestion des scrollpane */
/*                            */

/*                         */
/*         Divers          */
/*                         */

.combo-box {
    -fx-font-size: 20px;
}
